{
  "root": true,
  "parser": "@babel/eslint-parser",
  "env": {
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "standard",
    "eslint:recommended"
  ],
  "plugins": [
    "@babel",
    "chai-friendly",
    "chai-expect"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-control-regex": 0,
    "no-extra-boolean-cast": 0
  }
}
