#drop-zone {
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  border-style: dashed;
  border-width: thick;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  z-index: 1;
}

.drop-normal {
  border-color: hsl(288, 100%, 50%);
}
/* .drop-normal::after {
  content: "Drop your file here";
} */
.drop-dragging {
  border-color: hsl(113, 100%, 50%);
}

.drop-dragged {
  border-color: hsl(236, 100%, 50%);
}
pre {
  text-align: left;
}
